<!--Navbar-->

<nav class="navbar bg-navbar-custom navbar-expand-md navbar-dark fixed-top" style="--bs-bg-opacity: 0.7;">
      <!--left-->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ site.url }}">Accueil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ site.url }}/categories.html">Nos activités</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">Nos membres</a>
          </li>
        </ul>
        <!--center-->
        <a class="navbar-brand2" href="#"><img src="/asset/img/Armoiries_Bretagne_-_Arms_of_Brittany.svg.png"></a>
      </div>
      <!-- right -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"> Calendrier</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">Infos et tarifs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active"href="#">Contact</a>
          </li>
        </ul>
        <!--right-->
      </div>
    </div>
  </nav>
  
<!--Navbar end-->